<div class="main clear">
    <a href="/"><img class="header-logo" src="/img/logo.png" alt=""/></a>
    <a href="/"><img class="header-logo2" src="/img/logo2.png" alt=""/></a>
    <ul class="header-nav clear">
{{!--         <li class="header-nav-school">
            <a href="#">选校定位</a>
            <ul class="header-nav-select hidden">
                <li><a href="/select-form">智能选校</a></li>
                <li><a href="/school-list">院校库</a></li>
            </ul>
        </li> --}}
        {{#if screen}}
        <li class="active"><a href="/school-list">院校库</a></li>
        {{else}}
        <li><a href="/school-list">院校库</a></li>
        {{/if}}
        
        {{#if form}}
        <li class="active"><a href="/form">智能选校</a></li>
        {{else}}
        <li><a href="/form">智能选校</a></li>
        {{/if}}
        
        {{#if addApply}}
        <li class="active"><a href="/addApply">申请管理</a></li>
        {{else}}
        <li><a href="/addApply">申请管理</a></li>
        {{/if}}
        

 {{!--        <li><a href="#">网申插件</a></li> --}}
        {{#if partials.loginstate.data.id}}
            {{#if userCenter}}
            <li class="newsCenter active">
                {{#if partials.systemState}}
                <a href="/notifications?system=1">消息中心</a>
                {{else}}
                    {{#if partials.userState}}
                    <a href="/notifications">消息中心</a>
                    {{else}}
                    <a href="/notifications?system=1">消息中心</a>
                    {{/if}}
                {{/if}}
                
                {{#if partials.newsCount}}
                <div class="header-news-tab header-news-number">{{partials.newsCount}}</div>
                {{/if}}
            </li>
            {{else}}
            <li class="newsCenter">
                {{#if partials.systemState}}
                <a href="/notifications?system=1">消息中心</a>
                {{else}}
                    {{#if partials.userState}}
                    <a href="/notifications">消息中心</a>
                    {{else}}
                    <a href="/notifications?system=1">消息中心</a>
                    {{/if}}
                {{/if}}
                
                {{#if partials.newsCount}}
                <div class="header-news-tab header-news-number">{{partials.newsCount}}</div>
                {{/if}}
            </li>
            {{/if}}
        {{/if}}
    </ul>
    <div class="header-user">
        {{#if partials.loginstate.data.headerImg}}
        <div class="header-user-info">
            <img class="header-user-info-avatar" src="{{partials.loginstate.data.headerImg}}" alt=""/>
            <ul class="header-user-info-operation hidden">
                <li><a href="/points">积分中心</a></li>
                <li><a href="/setting">个人设置</a></li>
                <li class="header-user-logout"><a href="#">退出登录</a></li>
            </ul>
        </div>
        {{else}}
        <div class="header-user-info hidden">
            <img class="header-user-info-avatar" src="" alt=""/>
            <ul class="header-user-info-operation hidden">
                <li><a href="/points">积分中心</a></li>
                <li><a href="/setting">个人设置</a></li>
                <li class="header-user-logout"><a href="#">退出登录</a></li>
            </ul>
        </div>
        <div class="header-user-login">
            <div class="header-user-login-title"><a href="#">注册</a>/<a href="#">登录</a></div>
        </div>
        {{/if}}
    </div>
    <div class="header-search">
        <input type="text" placeholder="学校名称或其他关键字"/>
        <img class="header-search-icon" src="/img/icon-search.png" alt=""/>
        <div class="view header-search-result hidden">
            <div class="scrollbar-macosx" id="search-scroll">
                <div class="header-search-result-list">
                    {{> searchlist}}
                </div>
            </div>
        </div>
    </div>
</div>