    <ul class="screen-list" id="screen-school">
    <li class="screen-list-total">共{{data.page.count}}所大学</li>
    {{#each data.data}}
    <li>
        <a href="/school-recommend?sid={{id}}"><img class="screen-list-logo" src="{{logo}}?imageView2/2/w/200/h/200/format/jpg/interlace/0/q/100" alt="{{school_name}}"/></a>
        <a href="/school-recommend?sid={{id}}"><div class="screen-list-name">{{school_name_zh}}</div></a>
        <div class="screen-list-english">{{school_name}} ({{school_name_short}}) </div>
        <div class="screen-list-address">{{city}}, {{state}}, {{nation}} </div>
        <div class="screen-list-rank">
            <p><span>QS世界排名:</span><span>{{rank.qs}}</span></p>
            {{#if rank.usnews}}
            <p><span>U.S. NEWS排名：</span><span>{{rank.usnews}}</span></p>
            {{else}}
                {{#if rank.maikaolin}}
                <p><span>麦考林（医博类）排名：</span><span>{{rank.maikaolin}}</span></p>
                {{/if}}
            {{/if}} 
        </div>
        <a class="screen-list-join button-solid" href="/select?sid={{id}}">加入选校</a>
    </li>
    {{/each}}
</ul>

<div class="list-page">
    {{#ifNotEq data.page.list.length 1}}
    <ul class="clear">
        {{#if data.page.pre}}
        <li class="active"><a href="{{{getString @root.urlPath @root.data.page.pre}}}"><span class="list-page-pre">{{pre}}</span></a></li>
        {{else}}
        <li><a href="#"><span class="list-page-pre"></span></a></li>
        {{/if}}

        {{#each data.page.list}}
            {{#ifEq this @root.data.page.index}}
                <li class="active"><a href="{{{getString @root.urlPath this}}}">{{this}}</a></li>
            {{else}}
                <li><a href="{{{getString @root.urlPath this}}}">{{this}}</a></li>
            {{/ifEq}}
        {{/each}}

        {{#if data.page.next}}
        <li class="active"><a href="{{{getString @root.urlPath @root.data.page.next}}}"><span class="list-page-next"></span></a></li>
        {{else}}
        <li><a href="#"><span class="list-page-next"></span></a></li>
        {{/if}}    
    </ul>
    
    <div class="list-page-total">
        <span>{{data.page.index}}</span>/<span>{{data.page.page_count}}</span>
    </div>
    {{/ifNotEq}}
</div>