<div class="main select-school">
    <div class="select-school-tab">
        <ul class="tab-title clear">
            <li class="active">冲刺院校</li>
            <li>主申院校</li>
            <li>保底院校</li>
        </ul>
        <div class="select-school-main school">

            <div class="tab-box clear">
                <div class="select-school-rank"></div>
                <ul class="select-school-list clear">
                    {{#each schoollist.Sprint}}
                    <li school-id= "{{id}}">
                        <div class="school-list-rank">
                            {{#if school_rank.qs}}
                            <p><span>QS世界排名:</span><span>{{school_rank.qs}}</span></p>
                            {{/if}}
                            {{#if school_rank.usnews}}
                            <p><span>U.S. NEWS排名:</span><span>{{school_rank.usnews}}</span></p>
                            {{else}}
                                {{#if school_rank.maikaolin}}
                                <p><span>麦考林（医博类）排名:</span><span>{{school_rank.maikaolin}}</span></p>
                                {{/if}}
                            {{/if}} 
                            <p><span>U.S.NEWS专业排名:</span><span>{{major_rank}}</span></p>
                        </div>
                        <div class="school-list-main">
                            <img class="school-list-logo" src="{{logo}}" alt=""/>
                            <div class="school-list-info">
                                <div class="school-list-name">{{zh_school_name}}</div>
                                <div class="school-list-major">
                                    <span>{{major_name}}</span>/<span>{{degree}}</span>
                                </div>
                            </div>
                            <div class="school-list-mask">点击查看更多</div>
                        </div>
                        <div class="school-list-switch">
                            <span>点击取消申请</span>
                            <div class="switch-box on">
                                <img src="/img/icon-swich.png" alt=""/>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="tab-box hidden">
                <div class="select-school-rank"></div>
                <ul class="select-school-list clear">
                    {{#each schoollist.Middle}}
                    <li school-id= "{{id}}">
                        <div class="school-list-rank">
                            {{#if school_rank.qs}}
                            <p><span>QS世界排名:</span><span>{{school_rank.qs}}</span></p>
                            {{/if}}
                            {{#if school_rank.usnews}}
                            <p><span>U.S. NEWS排名:</span><span>{{school_rank.usnews}}</span></p>
                            {{else}}
                                {{#if school_rank.maikaolin}}
                                <p><span>麦考林（医博类）排名:</span><span>{{school_rank.maikaolin}}</span></p>
                                {{/if}}
                            {{/if}} 
                            <p>U.S.NEWS专业排名{{major_rank}}</p>
                        </div>
                        <div class="school-list-main">
                            <img class="school-list-logo" src="{{logo}}" alt=""/>
                            <div class="school-list-info">
                                <div class="school-list-name">{{zh_school_name}}</div>
                                <div class="school-list-major">
                                    <span>{{major_name}}</span>/<span>{{degree}}</span>
                                </div>
                            </div>
                            <div class="school-list-mask">点击查看更多</div>
                        </div>
                        <div class="school-list-switch">
                            <span>点击加入申请</span>
                            <div class="switch-box">
                                <img src="/img/icon-swich.png" alt=""/>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="tab-box hidden">
                <div class="select-school-rank"></div>
                <ul class="select-school-list clear">
                    {{#each schoollist.Bottom}}
                    <li school-id= "{{id}}">
                        <div class="school-list-rank">
                            {{#if school_rank.qs}}
                            <p><span>QS世界排名:</span><span>{{school_rank.qs}}</span></p>
                            {{/if}}
                            {{#if school_rank.usnews}}
                            <p><span>U.S. NEWS排名:</span><span>{{school_rank.usnews}}</span></p>
                            {{else}}
                                {{#if school_rank.maikaolin}}
                                <p><span>麦考林（医博类）排名:</span><span>{{school_rank.maikaolin}}</span></p>
                                {{/if}}
                            {{/if}} 
                            <p><span>U.S.NEWS专业排名</span><span>{{major_rank}}</span></p>
                        </div>
                        <div class="school-list-main">
                            <img class="school-list-logo" src="{{logo}}" alt=""/>
                            <div class="school-list-info">
                                <div class="school-list-name">{{zh_school_name}}</div>
                                <div class="school-list-major">
                                    <span>{{major_name}}</span>/<span>{{degree}}</span>
                                </div>
                            </div>
                            <div class="school-list-mask">点击查看更多</div>
                        </div>
                        <div class="switch-box school-list-switch">
                            <span>点击加入申请</span>
                            <img src="/img/icon-swich.png" alt=""/>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <ul class="select-school-chart clear">
                <li>
                    <div class="select-chart-title hardrate">
                        <p>硬实力</p>
                        超过了<span></span>的成功申请者
                    </div>
                    <div class="select-chart-svg select-svg-gpa">
                        <div class="select-chart-name" >GPA分布</div>
                    </div>
                    <div class="select-chart-dis select-dis-gpa">
                        你的GPA超过了<span></span>的成功申请者
                    </div>
                    <div class="select-chart-svg select-svg-tofel">
                        <div class="select-chart-name">TOFEL分值分布</div>
                    </div>
                    <div class="select-chart-dis select-dis-tofel">
                        你的TOFEL超过了<span></span>的成功申请者
                    </div>
                    <div class="select-chart-svg select-svg-gre">
                        <div class="select-chart-name">GRE分值分布</div>
                    </div>
                    <div class="select-chart-dis select-dis-gre">
                        你的GRE超过了<span></span>的成功申请者
                    </div>
                </li>
                <li>
                    <div class="select-chart-title softrate">
                        <p>软实力</p>
                        超过了<span></span>的成功申请者
                    </div>
                    <div class="select-chart-svg select-svg-learning">
                        <div class="select-svg-number"></div>
                    </div>
                    <div class="select-chart-dis select-dis-learning">
                        学术表现胜出率
                    </div>
                    <div class="select-chart-svg select-svg-recommend">
                        <div class="select-svg-number"></div>
                    </div>
                    <div class="select-chart-dis select-dis-recommend">
                        推荐信胜出率
                    </div>
                    <div class="select-chart-svg select-svg-prize">
                        <div class="select-svg-number"></div>
                    </div>
                    <div class="select-chart-dis select-dis-prize">
                        获奖胜出率
                    </div>
                </li>
            </ul>
        </div>
        <ul class="select-chart-summary clear">
            <li class="match">
                <img src="/img/select-hat.png" alt=""/>
                <span class="yellow"></span>个背景相似的学生申请到奖学金
            </li>
            <li class="countrate">
                <img src="/img/select-good.png" alt=""/>
                你的综合实力超过了<span class="blue"></span>的成功申请者
            </li>
        </ul>
        <div class="select-school-buttons">
            <button class="button-hollow">重新选校</button>
            <button class="button-solid">前往申请</button>
        </div>
    </div>
</div>

<div class="help-icon">
    <img class="help-icon-pic" src="/img/icon-help.png" alt=""/>
    <img class="help-icon-notice hidden" src="/img/help-notice.png" alt=""/>
</div>
<div class="view help hidden">
    {{> help}}
</div>
