<div class="user main clear">
    {{> usercenter/user-nav}}
    <div class="user-main news">
        <div class="news-tab">
            <ul class="tab-title clear">
                <a href="/user-news?system=1">
                    {{#if system}}
                    <li class="active">系统消息
                    {{else}}
                    <li>系统消息
                    {{/if}}
        
                    {{#if newsstate.system}}
                    <span class="news-user-notice"></span>
                    {{else}}
                    <span></span>
                    {{/if}}
                    </li>
                </a>
                <a href="/user-news">
                    {{#unless system}}
                    <li class="active">个人消息
                    {{else}}
                    <li>个人消息
                    {{/unless}}
                    
                    {{#if newsstate.man}}
                    <span class="news-user-notice"></span>
                    {{else}}
                    <span></span>
                    {{/if}}
                    </li>
                </a>
            </ul>
            {{#if system}}
            <div class="tab-box">
                <ul class="news-list news-system-list">
                    {{#each data.list}}
                        {{#if read}}
                        <li data-msg_id="{{id}}" data-type_id="{{type_id}}" data-type_id="{{type_id}}">
                            <a class="news-title" href="#">{{msg}}</a>
                            <div class="news-date">{{date}}</div>
                            <div class="news-operation">
                                {{#ifNews type_id 20000}}
                                <a href="#">查看</a>
                                {{/ifNews}}
                                <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                            </div>
                        </li>
                        {{else}}
                        <li class="noread" data-msg_id="{{id}}" data-type_id="{{type_id}}">
                            <a class="news-title" href="#">{{msg}}</a>
                            <div class="news-date">{{date}}</div>
                            <div class="news-operation">
                                {{#ifNews type_id 20000}}
                                <a href="#">查看</a>
                                {{/ifNews}}
                                <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                            </div>
                        </li>
                        {{/if}}
                    {{/each}}
                </ul>
                {{#unless data.list.[0]}}
                    <div class="news-list-none">
                        暂无消息
                    </div>
                {{else}}
                    <div class="list-button">
                        <button class="button-hollow news-system-read">全部已读</button>
                        <button class="button-hollow news-system-delete">全部删除</button>
                    </div>
                    <div class="list-page">
                        <ul class="clear">
                            {{#if data.page.pre}}
                            <li class="active"><a href="{{{getString @root.urlPath @root.data.page.pre}}}"><span class="list-page-pre">{{pre}}</span></a></li>
                            {{else}}
                            <li><a href="#"><span class="list-page-pre"></span></a></li>
                            {{/if}}

                            {{#each data.page.list}}
                                {{#ifEq this @root.data.page.index}}
                                    <li class="active"><a href="{{{getString @root.urlPath this}}}">{{this}}</a></li>
                                {{else}}
                                    <li><a href="{{{getString @root.urlPath this}}}">{{this}}</a></li>
                                {{/ifEq}}
                            {{/each}}

                            {{#if data.page.next}}
                            <li class="active"><a href="{{{getString @root.urlPath @root.data.page.next}}}"><span class="list-page-next"></span></a></li>
                            {{else}}
                            <li><a href="#"><span class="list-page-next"></span></a></li>
                            {{/if}} 
                        </ul>
                    </div>
                {{/unless}}
            </div>
            {{else}}
            <div class="tab-box">
                <ul class="news-list news-user-list">
                    {{#each data.list}}
                        {{#if read}}
                            <li data-msg_id="{{id}}" data-type_id="{{type_id}}">
                                <a class="news-title" href="#">{{msg}}</a>
                                <div class="news-date">{{date}}</div>
                                <div class="news-operation">
                                    {{#ifNews type_id 20000}}
                                    <a href="#">查看</a>
                                    {{/ifNews}}
                                    <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                                </div>
                            </li>
                        {{else}}
                            <li class="noread {{type_id}}" data-msg_id="{{id}}" data-type_id="{{type_id}}">
                                <a class="news-title" href="#">{{msg}}</a>
                                <div class="news-date">{{date}}</div>
                                <div class="news-operation">
                                    {{#ifNews type_id 20000}}
                                    <a href="#">查看</a>
                                    {{/ifNews}}
                                    <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                                </div>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>

                {{#unless data.list.[0]}}
                    <div class="news-list-none">
                        暂无消息
                    </div>
                {{else}}
                    <div class="list-button">
                        <button class="button-hollow news-user-read">全部已读</button>
                        <button class="button-hollow news-user-delete">全部删除</button>
                    </div>
                    <div class="list-page">
                        {{#ifNotEq data.page.list.length 1}}
                        <ul class="clear hidden">
                            {{#if data.page.pre}}
                            <li class="active"><a href="{{{getString @root.urlPath @root.data.page.pre}}}"><span class="list-page-pre">{{pre}}</span></a></li>
                            {{else}}
                            <li><a href="#"><span class="list-page-pre"></span></a></li>
                            {{/if}}

                            {{#each data.page.list}}
                                {{#ifEq this @root.data.page.index}}
                                    <li class="active"><a href="{{{getString @root.urlPath this}}}">{{this}}</a></li>
                                {{else}}
                                    <li><a href="{{{getString @root.urlPath this}}}">{{this}}</a></li>
                                {{/ifEq}}
                            {{/each}}

                            {{#if data.page.next}}
                            <li class="active"><a href="{{{getString @root.urlPath @root.data.page.next}}}"><span class="list-page-next"></span></a></li>
                            {{else}}
                            <li><a href="#"><span class="list-page-next"></span></a></li>
                            {{/if}}    
                        </ul>
                        {{/ifNotEq}}
                    </div>
                {{/unless}}
            </div>
            {{/if}}
        </div>
    </div>

    <div class="view news-article hidden" id="msganswer">
    </div>

    <div class="view news-delete hidden">
        <div class="news-delete-title">
            删除
            <img class="news-delete-close" src="/img/icon-close.png" alt=""/>
        </div>
        <div class="news-delete-content">
            <p>
                
            </p>
        </div>
        <div class="news-delete-button clear">
            <button class="news-delete-cancel button-hollow-ban">取消</button>
            <button class="news-delete-ensure button-solid">删除</button>
        </div>
    </div>

</div>