<div class="user main clear">
    {{> usercenter/user-nav}}
    <div class="user-main point">
        <div class="point-title clear">
            目前积分
            <a href="#">积分变动查询</a>
        </div>
        <div class="point-line">
            <div class="point-line-now"></div>
            <div class="point-line-arrow"></div>
            <div class="point-line-number1">0</div>
            {{#if currnetcredit.data.credit}}
            <div class="point-line-number2">{{currnetcredit.data.credit}}</div>
            {{/if}}
            <div class="point-line-number3">3000</div>
        </div>
        <div class="point-title">任务卡</div>
        <ul class="point-card clear">
            {{#each mission.data}}
            <li>
                <a href="{{url}}">
                    <div class="point-card-box">
                        <img src="{{icon}}" alt=""/>
                        <span><p>{{value}}分</p></span>
                    </div>
                    <div class="point-card-name">{{key}}</div>
                </a>
            </li>
            {{/each}}
        </ul>
        <div class="point-nocard hidden">
            <img src="/img/point-nocard.png" alt=""/>
        </div>
        <div class="point-title clear">
            邀请朋友
            <span class="point-title-share">
                （已有{{invitenum.data.num}}个有效分享）
                <img class="point-help" src="/img/point-help.png" alt=""/>
            </span>
            <div class="point-share-notice">
                每个成功邀请可获得50积分奖励<br/>
                用户使用您的邀请码成功注册网站即算一次有效分享
                <div class="point-share-notice-arrow1"></div>
                <div class="point-share-notice-arrow2"></div>
            </div>
        </div>
        <div class="point-share clear">
            <input style="position: absolute;z-index: -999" id="link" type="text" value="api.utuotu.com/?code={{inviteCode.code}}">
            <input style="position: absolute;z-index: -999" id="code" type="text" value="{{inviteCode.code}}">
            <input class="hidden" id="code" type="text" value="123">
            <button class="point-address button-solid" data-clipboard-link data-clipboard-target="#link">复制链接地址</button>
            <button class="point-code button-solid" data-clipboard-code data-clipboard-target="#code">复制邀请码</button>
            <a href="http://service.weibo.com/share/share.php?appkey=&title=我发现了一个好用的DIY留学网站，里面有实用的申请工具和最新的申请资料，帮我省了一大笔中介费。现在通过我的链接注册可以获得双倍积分&url=http://api.utuotu.com&pic=&searchPic=false&style=simple" target="_blank"><button class="point-blog">分享到微博</button></a>
            <button class="point-email hidden">通过邮箱分享</button>
        </div>
        <div class="view point-view hidden">
            <div class="point-view-title"></div>
            <div class="point-view-content point-result-code">
               <span>
                    {{inviteCode.code}}<br/>已复制到剪切板
               </span>
            </div>
            <div class="point-view-content point-result-site">
               <span>
                    api.utuotu.com/?code={{inviteCode.code}}<br/>已复制到剪切板
               </span> 
            </div>
            <button class="point-view-close button-solid">关闭</button>
        </div>
        <div class="view point-list hidden">
            <div class="point-title clear">
                我的积分明细
                <img class="point-list-close" src="/img/point-list-close.png" alt=""/>
            </div>
            <table cellpadding="0" cellspacing="1">
                <tr>
                    <th>积分说明</th>
                    <th>积分变动</th>
                    <th>剩余积分</th>
                    <th>积分时间</th>
                </tr>
                {{#each creditlog.data}}
                <tr>
                    <td>{{content}}</td>
                    <td><span>{{change}}</span></td>
                    <td>{{credit}}</td>
                    <td>{{creditd_at}}</td>
                </tr>
                {{/each}}
            </table>
           <div class="list-page">
                {{#ifNews 1 data.page.list.length}}
               <ul class="clear">
                   {{#if data.page.pre}}
                    <li class="active"><a href="{{{getString @root.urlPath @root.data.page.pre}}}"><span class="list-page-pre">{{pre}}</span></a></li>
                    {{else}}
                    <li><a href="#"><span class="list-page-pre"></span></a></li>
                    {{/if}}

                    {{#each data.page.list}}
                        {{#ifEq this @root.data.page.index}}
                            <li class="active"><a href="{{{getString @root.urlPath this}}}">{{this}}</a></li>
                        {{else}}
                            <li><a href="{{{getString @root.urlPath this}}}">{{this}}</a></li>
                        {{/ifEq}}
                    {{/each}}

                    {{#if data.page.next}}
                    <li class="active"><a href="{{{getString @root.urlPath @root.data.page.next}}}"><span class="list-page-next"></span></a></li>
                    {{else}}
                    <li><a href="#"><span class="list-page-next"></span></a></li>
                    {{/if}} 
               </ul>
               {{/ifNews}}
           </div>
        </div>
    </div>
</div>