<div class="user main clear">
    {{> usercenter/user-nav}}
    <div class="user-main news">
        <div class="news-tab">
            {{> newsState}}
            {{#if system}}
            <div class="tab-box">
                <ul class="news-list news-system-list">
                    {{#each getmsg.data}}
                        {{#if read}}
                        <li data-msg_id="{{id}}" data-type_id="{{type_id}}" data-type_id="{{type_id}}">
                            <a class="news-title" href="#">{{msg}}</a>
                            {{#ifNews type_id 200}}
                            <div class="news-date">{{date}}</div>
                            {{/ifNews}}
                            <div class="news-operation">
                                
                                <a href="#">查看</a>
                                
                                <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                            </div>
                        </li>
                        {{else}}
                        <li class="noread" data-msg_id="{{id}}" data-type_id="{{type_id}}">
                            <a class="news-title" href="#">{{msg}}</a>
                            <div class="news-date">{{date}}</div>
                            <div class="news-operation">
                                {{#ifNews type_id 20000}}
                                <a href="#">查看</a>
                                {{/ifNews}}
                                <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                            </div>
                        </li>
                        {{/if}}
                    {{/each}}
                </ul>
                {{#if getmsg.data.[0]}}
                <div class="news-list-none">
                    暂无消息
                </div>
                {{else}}
                <div class="list-button">
                    <button class="button-hollow news-system-read">全部已读</button>
                    <button class="button-hollow news-system-delete">全部删除</button>
                </div>
                <div class="list-page">
                    <ul class="clear">
                        <li><a href="#"><span class="list-page-pre"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><span class="list-page-next"></span></a></li>
                    </ul>
                </div>
                {{/if}}
            </div>
            {{else}}
            <div class="tab-box">
                <ul class="news-list news-user-list">
                    {{#each getmsg.data}}
                        {{#if read}}
                            <li data-msg_id="{{id}}" data-type_id="{{type_id}}">
                                <a class="news-title" href="#">{{msg}}</a>
                                <div class="news-date">{{date}}</div>
                                <div class="news-operation">
                                    {{#ifNews type_id 20000}}
                                    <a href="#">查看</a>
                                    {{/ifNews}}
                                    <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                                </div>
                            </li>
                        {{else}}
                            <li class="noread {{type_id}}" data-msg_id="{{id}}" data-type_id="{{type_id}}">
                                <a class="news-title" href="#">{{msg}}</a>
                                <div class="news-date">{{date}}</div>
                                <div class="news-operation">
                                    {{#ifNews type_id 20000}}
                                    <a href="#">查看</a>
                                    {{/ifNews}}
                                    <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                                </div>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
                {{#unless getmsg.data.[0]}}
                <div class="news-list-none">
                    暂无消息
                </div>
                {{else}}
                <div class="list-button">
                    <button class="button-hollow-ban news-user-read">全部已读</button>
                    <button class="button-hollow-ban news-user-delete">全部删除</button>
                </div>
                <div class="list-page">
                    <ul class="clear hidden">
                        <li><a href="#"><span class="list-page-pre"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><span class="list-page-next"></span></a></li>
                    </ul>
                </div>
                {{/unless}}
            </div>
            {{/if}}
            
            
        </div>
    </div>

    <div class="view news-article hidden" id="msganswer">
    </div>

    <div class="view news-delete hidden">
        <div class="news-delete-title">
            删除
            <img class="news-delete-close" src="/img/icon-close.png" alt=""/>
        </div>
        <div class="news-delete-content">
            <p>
                
            </p>
        </div>
        <div class="news-delete-button clear">
            <button class="news-delete-cancel button-hollow-ban">取消</button>
            <button class="news-delete-ensure button-solid">删除</button>
        </div>
    </div>

</div>