<ul class="all-list clear" id="all-list">
    {{#if showAll}}
        {{#each data.allmajors}}
            <li class="all-list-type">{{@key}}</li>
                {{#each this}}
                    <li data-mid="{{major_id}}"><span>{{major_name}}</span></li>
                {{/each}}        
        {{/each}}
    {{else}}
        {{#each acMajors}}
            <li class="all-list-type active">{{@key}}</li>
                {{#each this}}
                    <li data-mid="{{major_id}}"><span>{{major_name}}</span></li>
                {{/each}}      
        {{/each}}
    {{/if}}
</ul>

{{!-- <li><span><a href="/school-major?sid={{@root.sid}}&mid={{major_id}}">{{major_name}}</a></span></li> --}}
{{!--                     <li><span><a href="/school-major?sid={{@root.sid}}&mid={{major_id}}">{{major_name}}</a></span></li> --}}