{{#with partials.schooldetail}}
<div class="school-info" data-sid="{{@root.partials.schoolid}}">
    <img class="school-info-logo" src="{{school_logo}}" alt=""/>
    <div class="school-info-name">{{school_name_zh}}<span class="school-info-address">{{city}}, {{state}}, {{nation}}</span></div>
    <div class="school-info-english">{{school_name_en}} ({{school_name_short}}) </div>
    <div class="school-info-link"><a href="http://{{official_url}}" target="_blank">{{official_url}}</a></div>
    <div class="school-info-rank">
        <p>QS排名：{{qs_rank}}</p>
        <p>U.S.NEWS排名:{{news_rank}}</p>
        
        <p><span>QS世界排名:</span><span>{{rank.qs}}</span></p>
        {{#if rank.usnews}}
        <p><span>U.S. NEWS排名：</span><span>{{rank.usnews}}</span></p>
        {{else}}
            {{#if rank.maikaolin}}
            <p><span>麦考林（医博类）排名：</span><span>{{rank.maikaolin}}</span></p>
            {{/if}}
        {{/if}} 
    </div>
</div>
<div class="school-box school-brief">
    <div class="school-box-title school-brief-title">
        学校简介
        <img class="school-box-arrow" src="/img/icon-up.png" alt=""/>
    </div>
    <div class="school-box-content school-brief-content">
        <div class="school-brief-map" data-map={{map}} data-nation={{nation}}></div>
        <div class="school-brief-describe" id="school-brief-describe">
            <div class="school-brief-scroll">
                <p>
                    {{school_introduce}}
                </p>
            </div>
        </div>
    </div>
</div>
{{/with}}