<div class="school-recommend">
    <div class="recommend-major clear">
        <div class="recommen-major-total">
            可申请项目总数：{{total}}
            <div class="recommen-major-item">
                <span>硕士学位</span>{{data.Count.master}}
            </div>
            <div class="recommen-major-item">
                <span>博士学位</span>{{data.Count.doctor}}
            </div>
        </div>
        <div class="recommend-major-form form-item">
            <input type="text" placeholder="请用中文填写当前就读专业"/>
            <div class="form-select-option hidden" id="select-major">
                <ul>

                </ul>
            </div>
            <div class="form-item-notice hidden">
                <div class="triangle"></div>
                <p><span></span></p>
            </div>
            <button class="recommend-major-get button-solid-ban">获取推荐</button>
            <div class="recommend-major-notice">
            1. 快速定位到与你相关的专业</br>
            2. 内含可申请学位、申请费用、截止时间、具体要求等信息</div>
        </div>
    </div>
    <div class="recommend-major-title">该校热门专业</div>
    <ul class="recommend-major-list clear">
        {{#each data.hot}}
        <li clear data-major="{{major_id}}">
            <a>
                <img src="http://oj17skvs5.bkt.clouddn.com/{{category}}.png" alt="{{category}}"/>
                <span><p>{{major_name}}</p></span>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
