<div class="school-box school-all">
    <div class="school-box-title">
        A-Z list
    </div>
    <div class="school-box-content">
    {{> Inslibrary/academy}}
    </div>
</div>   

{{!--  <a href="/school-majorlist?sid={{@root.sid}}-&academy={{academy}}"><li class="active" data-query="{{@root.sid}}-{{academy}}">{{academy}}</li></a> --}}
{{!-- <a href="/school-major?sid={{sid}}">全部专业</a> --}}
{{!-- <a href="/school-recommend?sid={{sid}}">推荐专业</a> --}}